@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin common-transition {
  transition: all 0.3s ease;
}

@mixin icon-mask($image, $color: #a5a5a5) {
  mask-image: $image;
  background-color: $color;
}
