$primary-color: #242422;
$secondary-color: #f3d946;
$tertiary-color: #efefef;
$accent-color: #ff6347;
$gray-color: #aaa;
$doc-bg-color: #fff5f4;
$font-stack: 'Noto Sans KR', 'Arial', sans-serif;

$wrapper-width: 1306px;
$header-height: 60px;
$page-padding: 40px;

$icon-search: url('@/assets/images/icon/search.svg');
$icon-arrow: url('@/assets/images/icon/arrow.svg');
