@use './base/font';
@use './base/variables' as *;
@use './base/reset';
@use './base/icon';

@import '@vuepic/vue-datepicker/dist/main.css';

:root {
  font-size: 16px;

  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --accent-color: #{$accent-color};
  --gray-color: #{$gray-color};
  --font-stack: #{$font-stack};
  --doc-bg-color: #{$doc-bg-color};
  --header-height: #{$header-height};
  --wrapper-width: #{$wrapper-width};
  --page-padding: #{$page-padding};

  --dp-font-family: #{$font-stack};
  --dp-font-size: 13px;
  --dp-cell-size: 28px;
  --dp-cell-padding: 4px;
  --dp-input-padding: 4px 24px 4px 8px;
  --dp-row-margin: 0;
}

.dp__theme_dark {
  --dp-background-color: #{$primary-color};
  --dp-primary-color: #{$secondary-color};
  --dp-primary-disabled-color: #{$gray-color};
  --dp-primary-text-color: #{$primary-color};
  --dp-border-color: #{$gray-color};
}
.dp__input {
  background-color: #fff;
  color: var(--primary-color);
}
.dp__input_icons {
  padding: 6px 8px;
}
.dp__calendar_header {
  color: var(--secondary-color);
  font-weight: 500;
}
.dp__calendar_header_separator {
  display: none;
}

body {
  font-family: var(--font-stack);
  background-color: var(--doc-bg-color);
  color: var(--primary-color);
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  background-color: #fff;

  > header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    padding: 0 20px;
    background-color: var(--primary-color);
    color: #fff;
    z-index: 100;
  }

  > footer {
    background-color: var(--primary-color);
    padding: 30px 40px;
    color: #fff;
  }
}

.-input {
  height: 30px;
  line-height: 30px;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 8px;

  input[type='text'] {
    border: none;
    outline: none;
    width: 100%;
  }
}
